/* Reset default styles */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, fieldset, input, textarea, button, label {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: transparent;
    color: #FEFAE0;
}

/* Box-sizing for consistent layout */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Title styles */
h1 {
    text-align: center;
}

/* Course list container */
.course-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/css/pexels-catiamatos-1072179.jpg');
    background-size: cover;
    padding: 20px;
    backdrop-filter: blur(3px);
}

/* Form container */
form {
    max-width: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form heading */
form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input fields */
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ccc;
}

/* Submit button */
form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    background-color: rgba(31, 48, 34, 0.7);
    color: #FEFAE0;
    border-radius: 4px;
    cursor: pointer;
}

/* Button hover effect */
form button:hover {
    background-color: rgb(55, 109, 65);
}

/* Links */
a {
    text-decoration: none;
    color: #53AB60;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline;
}

/* Lists */
ul {
    list-style-type: none;
}

/* List items */
li {
    margin-bottom: 10px;
}

/* Button styles */
button {
    padding: 8px 16px;
    border: none;
    background-color: rgba(31, 48, 34, 0.7);
    color: #FEFAE0;
    border-radius: 4px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: rgb(55, 109, 65);
}
