html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, fieldset, input, textarea, button, label {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: transparent;
    color: #FEFAE0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-image: url('./pexels-catiamatos-1072179.jpg');
    background-size: cover;
    padding: 20px;
    backdrop-filter: blur(2px); /* This applies the blur to the entire page */
}

form {
    max-width: 40%; 
    max-height: 60%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Removed backdrop-filter from here */
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FEFAE0; 
    font-family: 'Times New Roman', Times, serif; 
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #1F3022; 
}

.error {
    color: #ff0000;
}

form button {
    
    width: 100%;
    padding: 15px;
    margin-top: 20px; 
    border: none;
    background-color: rgba(31, 48, 34, 0.7); 
    color: rgb(); 
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(55, 109, 65) 
}

a {
    text-decoration: none;
    color: #53AB60; 
}

a:hover {
    text-decoration: underline;
}
